HeqaGateway/obj/Debug/net8.0/HeqaGateway.pdb
HeqaGateway/bin/Debug/net8.0/HeqaGateway.dll
HeqaGateway/bin/Debug/net8.0/HeqaGateway.dll
HeqaGateway/bin/Debug/net8.0/HeqaGateway.pdb
HeqaGateway/obj/Debug/net8.0/HeqaGateway.AssemblyInfo.cs
HeqaGateway/obj/Debug/net8.0/HeqaGateway.AssemblyInfoInputs.cache
HeqaGateway/obj/Debug/net8.0/HeqaGateway.dll
HeqaGateway/obj/Debug/net8.0/HeqaGateway.pdb
HeqaGateway/obj/Debug/net8.0/HeqaGateway.sourcelink.json
HeqaGateway/obj/Debug/net8.0/ref/HeqaGateway.dll
HeqaGateway/obj/Debug/net8.0/refint/HeqaGateway.dll
